* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(../img/gmail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
    display: inline-block;
    width 22%;
    float: left;
}
.loginbox{
    margin-left: 40%;
    margin-top: 20%;
    border: 1px solid black;
    padding: 30px;
    width :350px;
    background-color: rgb(209, 144, 157);
}
.search{
    display: inline-block;
    width: 80%;
    float: right;
    padding-top: 19px;
}
.search input{
    width: 500px;
    height: 35px;
}
a{
    color: black;
    text-decoration: none;
}
a:active,
a:focus,
a:hover{
    border: none;
    outline: none;
}
.sidebar{
    width: 20%;
    display: inline-flex;
}
.sidebar li{
    padding: 8px;
    margin-left: 30px;
    border-radius: 5px;
    width: 125px;

}
.inboxView{
    width: 72%;
    display: inline-flex;
    /*background-color: rgba(15, 14, 15, 0.59);*/
    color: white;
}

.sidebar li:first-child{
    background-color: white;
    text-align: center;
}
ul,
ol {
  list-style: none;
}

span{
    display: inline-block;
    padding: 10px;
}
header{
    height: 150px;
}
header img{
    width: 150px;
}
.module.inbox-view {
  color: #D5DDE0;
  left: 0;
  width: 30%;
  padding: 25px;
}

.module.inbox-view h1 {
  font-weight: 300;
  font-size: 22px;
}

.module.directive {
  right: 0;
  display: inline-block;
  width: 100%;
}

.module.directive .email {
  padding: 25px;
}

.flex {
  display: flex;
  align-items: stretch;
  min-height: 1000px;
}

/**
 * inbox
 */

.inbox__list li {
 background-color: rgba(11, 11, 11, 0.59);
 margin: 3px;
 padding: 0px;
 height: 40px;
}


.inbox__list-info {
  display: inline-block;
  left: 0;
  width: 100%;
  padding-left: 25px;
}

.inbox__list-date {
  font-size: 12px;
  float: right;
  margin-bottom: 15px;
}

.inbox__list-actions {
  margin: 10px 0 0;
  display: inline-block;
  right: 0;
  margin-left: 25px;
}
.inbox__list-subject {
  font-weight: 900;
}
.inbox__list-actions a {
  margin: 0 10px 0 0;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #a6120d;
  border-radius: 3px;
  padding: 6px 10px;
  color: #fff;
  background: darkcyan;
}
.inbox__list-actions a:hover {
  background: cyan;
}

li.no-emails {
  padding: 25px;
}

/**
 * email
 */
.email {
 background-color: rgba(25, 27, 26, 0.58);
}
.email__info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.email__content {
  margin: 15px 0;
}
.email__content p {
  margin: 0 0 10px;
}
.email__reply,
.email__response a,
.email__back {
  margin: 10px 10px 0 0;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  padding: 6px 10px;
  color: #fff;
  background: darkcyan;
}
.email__reply:hover,
.email__response a:hover,
.email__back:hover {
  background: #085d82;
}
.email__response {
  margin: 0 0 25px;
}
.email__response-text {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 10px;
  color: #222;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  outline: 0;
}
.email__response-text:focus {
  border-color: #aaa;
}

@media screen and (max-width: 840px) {
  .module.inbox-view {
    display: none;
  }
}
